<h1>Documents</h1>
<%=link_to "Create new PDF", new_api_v1_document_path %>
<ul>
  <% @documents.each do |document| %>

  <li>
    <%= link_to "#{document.id} - #{document.document_data['customer_name']} - #{document.created_at.strftime("%B %b, %Y")} ", template_api_v1_documents_path(uuid: document.uuid) %>
  </li>
  <%end%>
</ul>
